.containerSidebar {
  font-size: 1.3em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}


.sidebarSelectedLink {
  color: black;
  text-decoration: underline;
}