.headerContainer {
  margin-bottom: .3em;
}

.headerLink {
  display: inline-block;
  font-size: 1.5em;
  margin: 2em;
  border: 0.5em solid white;
  width: 7em;
  border: 1em solid white;
}

.headerSelectedLink {
  display: inline-block;
  font-size: 1.5em;
  margin: 2em;
  border: 0.5em solid black;
  background: black;
  border-radius: 0.25em;
  width: 7em;
}

.headerSelectedLink a {
  color: white;
  text-decoration: none;
}

.headerTitle {
  margin-right: 2em;
  font-size: 4em;
}
