
.buttonsContainer {
  float: right;
}

.headerContainer {
  margin-bottom: .1em;
  padding: 1em;
}

.headerLink a {
  display: inline-block;
  font-size: 1.5em;
  width: 7em;
  border: 1em solid white;
  color: inherit;
  text-decoration: none;
}

.headerSelectedLink a {
  display: inline-block;
  font-size: 1.5em;
  width: 7em;
  border: 1em solid white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.headerTitle {
  float: left;
  font-size: 4em;
}
