.newLine {
  white-space: pre;
}

.productContainer {
  width: 31%;
  margin: 1% 1% 7% 1%;
  display: inline-block;
  height: 20em;
}

.productContainerTall {
  width: 31%;
  margin: 1% 1% 7% 1%;
  display: inline-block;
  height: 26em;
}

.productsContainer > * {
  vertical-align: top;
}

.productImageFooter {
  margin-top: 1%;
  width: 100% ;
  display: block;
  text-align: center;
}

.productImage {
  width: 100%;
  display: block;
  cursor: pointer;
}

.productLink {
  width: 100%;
}

@media all and (max-width: 425px) {
  .productContainer {
    height: 12em;
  }

  .productContainerTall {
    width: 31%;
    margin: 0% 1% 0% 1%;
    display: inline-block;
    height: 18em;
  }
}

@media all and (max-width: 320px) {
  .productContainer {
    height: 12em;
  }
}