.navButtonActive {
  margin: 1em;
}

.navButtonActive:hover {
  color:#e5e5e5;
  cursor: pointer;
  margin: 1em; 
}

.navButtonDisabled {
  color: #e5e5e5;
  margin: 1em;
}

.navBtnContainer {
  text-align: center;
}