.footer {
  font-family: Courier New, Courier, monospace;
  font-size: 1.2em;
  margin: -.5em;
}

.footerTitle {
  font-style: italic;
}

/* correcting default react-boostrap modal backdrop */
.modal-backdrop {
  opacity: 0.8;
}

.modal-footer {
  justify-content: center;
  border-top: none;
}

.modalImg {
  width: 100%;
  height: auto;
}

.modalImgContainer {
  width: 100%;
  height: 100%;
}

.thumbnailImg {
  width: 31%;
  margin: 1%;
  cursor: pointer;
}