.homeBackground {
  margin-left: 0.5em;
  margin-top: 1.5em;
  text-align: center;
}

@media all and (max-width: 425px) {
  .homeBackground {
    margin: 0;
  }

  .homeBackgroundImage {
    display: block;
    margin: auto;
    max-width: 21.6em;
    max-height: 27.216em;
    width: auto;
    height: auto;
  }
}