.homeBackground {
  margin-left: 0.5em;
  margin-top: 1.5em;
  text-align: center;
}

@media all and (max-width: 425px) {
  .homeBackground {
    margin-left: 0em;
  }

  .homeBackgroundImage {
    display: block;
    max-width: 24em;
    max-height: 30.24em;
    width: auto;
    height: auto;
  }
}