.containerAbout {
  background-image: url("https://s3-us-west-1.amazonaws.com/mogpoeportfolio/Background001-minshrunk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 49em;
}