.containerAbout {
  height: 50em;
}

.headerAbout {
  border-bottom: .05em black solid;
  font-size: 1.3em;
  text-align: center;
}

.textContainer {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 1.2em;
  position: relative;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
}