.App {
  font-family: Courier New, Courier, monospace;
}

.divider {
  align-self: center;
  border-bottom: .1em black solid;
  height: .1em;
  margin: 1em;
  width: 100%
}

.header {

}

.sidebar {
  border-left: .1em black solid;
}
