.App {
  font-family: Courier New, Courier, monospace;
}

.containerMain {
  min-height: 52em;
  padding-left: 0em;
  padding-right: 2em;
}

.divider {
  align-self: center;
  border-bottom: .1em black solid;
  height: .1em;
  width: 100%
}

.header {
  margin-left: .4em;
  margin-right: 3em;
}

.no-gutter {
  margin-left: 0em;
  margin-right: 0em;
  padding-right: 0em;
  padding-left: 0em;
}

.sidebarDivider {
  border-left: .1em black solid;
}
