.App {
  font-family: Courier New, Courier, monospace;
}

.containerMain {
  min-height: 52em;
  padding-left: 0em;
}

.divider {
  align-self: center;
  border-bottom: .1em black solid;
  margin: 0em 1em 0em 1em;
  height: .1em;
  width: 100%
}

.header {
  margin-left: .4em;
  margin-right: 3em;
  align-items: center;
}

.lastIcon {
  margin-right: 1em
}

.mobileMain {
  display: none;
}

.socialIcon {
  margin-left: 2em;
  font-size: 1em;
}

.fontSizePlus {
  font-size: 1.13em;
}

.iconContainer {
  text-align: right;
}

.no-gutter {
  margin-left: 0em;
  margin-right: 0em;
  padding-right: 0em;
  padding-left: 0em;
}

.sidebarDivider {
  border-left: .1em black solid;
}

.sidebarSmall {
  display: none;
}

.sidebarSmallLabel {
  margin-left: 1em;
  margin-top: 1em;
}

.sidebarSmallIcon {
  margin-right: 1em;
  margin-top: 1em;
}

@media all and (max-width: 779px) {
  .containerMain {
    display: none;
  }

  .fullSidebar {
    display: none;
  }

  .iconContainer {
    display: none;
  }

  .mobileMain {
    display: block;
  }

  .sidebarDivider {
    border-left: none;
  }

  .sidebarSmall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 2em;
  }
}
